.card {
  box-shadow: 0px 0px 13px 1px rgb(0 0 0 / 28%);
}


.animateButton:active {
  animation: scale-up-center 0.4s;
}

@keyframes scale-up-center {
  0% {
    transform: scale(.5)
  }

  100% {
    transform: scale(1)
  }
}
