<div class="row">
  <div class="col-md-6">
    <h1>*ngiF</h1>
    <hr>
    <div *ngIf="mostrar" class="card text-bg-primary mb-3" style="max-width: 100%;">
      <!-- <div class="card-header">Header</div> -->
      <div class="card-body">
        <h5 class="card-title">{{ frase.autor }}</h5>
        <p class="card-text">{{ frase.mensaje }}.</p>
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">

        <button (click)="mostrar = !mostrar" type="button" class="btn btn-outline-info animateButton" >
            Mostrar / Ocultar
        </button>
    </div>
  </div>
  <div class="col-md-6">
    <h1>*ngFor</h1>
    <hr>
    <ul class="list-group">
        <li *ngFor="let item of personajes; let i = index" class="list-group-item">
            {{ i + 1 }}.- {{ item }}
        </li>
      </ul>
  </div>
</div>
